<template>
  <div class="home row">
    <div class="col-md-3">
      <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
      <h1 class="display-4" v-text="$t('home.title')">Welcome, Agile Student!</h1>
      <p class="lead" v-text="$t('home.subtitle')">This is your homepage</p>

      <div>
        <div class="alert alert-success" v-if="authenticated">
          <span v-if="username" v-text="$t('home.logged.message', { username: username })">You are logged in as user "{{ username }}"</span>
        </div>

        <div class="alert alert-warning" v-if="!authenticated">
          <span v-text="$t('global.messages.info.authenticated.prefix')">If you want to </span>
          <a class="alert-link" v-on:click="openLogin()" v-text="$t('global.messages.info.authenticated.link')">sign in</a
          ><span v-html="$t('global.messages.info.authenticated.suffix')"
            >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
            password="user").</span
          >
        </div>
      </div>

      <ul>
        <li v-if="authenticated">
          <a href="/gateway/coursgroupes/coursgroupes/agitelier/student" v-text="$t('home.links.accesscourse')">Access your courses</a>
        </li>
        <li v-if="hasAnyAuthority('ROLE_ADMIN')">
          <a href="/gateway/coursgroupes/coursgroupes/agitelier/teacher" v-text="$t('home.links.managecourse')">Manage your courses</a>
        </li>
      </ul>

      <p>
        <span v-text="$t('home.like')">If you like Agitelier, don't forget to give us a star on</span>
        <a href="https://gitlab.com/agitelier/gateway" target="_blank" rel="noopener noreferrer" v-text="$t('home.gitlab')">GitLab</a>!
      </p>
    </div>
  </div>
</template>

<script lang="ts" src="./home.component.ts"></script>
